.custom-card {
    padding: 40px;
    border: 1px solid #9c9c9cdb;
    border-radius: 10px;
    background-color: #ffffff;
    height: 100%; 
}

.custom-card h1 {
    color: blue;
    font-weight: 700;
    margin-bottom: 30px;
}

.custom-card p {
    color: rgb(80, 80, 80);
    margin-bottom: 30px;
}